@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Pay Tracker</h1>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to your Payment Tracker</h2>
        <p>
           Payment tracker is a sample application created to teach myself
            new skills while also allowing me to track my hours from work
            and cross check them with my paycheck to ensure I am being payed
        </p>
        </div>

    <div class="col-md-6">
        <ul>
            <li>
        <p>Enter Information or updates here</p>
            </li>
            <li>
                <p>Or news or anything important</p>
            </li>
        </ul>
    </div>
